*.log
opentelemetry-go-compile-instrumentation
otelc
otelc.exe
demo/basic/basic
.idea
tmp

.otelc-build
**/.DS_Store
demo/demo

otelc.runtime.go
otelc-pkg.gz
pkg_temp
coverage.txt

go.work
go.work.sum

coverage*.txt
gotest*.log
dist

test/apps/*/app
test/apps/*/app.exe

.bin